* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    outline: none;
}

textarea {
    outline: none;
    resize: none;
    font-family: inherit;
    overflow: hidden;
    background: transparent;
    border: none;
}

button.link {
    text-transform: uppercase;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.link {
    position: relative;
    text-decoration: none;
    color: #002F34;
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
}

.link:hover::before{
    transform: translateX(0%);
}

.link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    border-radius: 50px;
    background: #002F34;
    transform: translateX(-100%);
    transition: all .2s linear;
}

.btns-wrapper {
    display: flex;
    gap: 10px;
}

.btn1 {
    min-width: 120px;
    padding: 10px;
    border-radius: 5px;
    background: #002F34;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    transition: all .1s linear;
    cursor: pointer;
}

.btn1.red {
    background: #ae0101;
}

.btn1:hover {
    background: #427D9D;
}

.btn1.red:hover {
    background: #ff0000;
}

.zero-block {
    width: 0;
    height: 0;
    border: none;
    padding: 0;
    margin: 0;
}

.add {
    position: relative;
    width: 30px;
    height: 30px;
    background: #427D9D;
    border-radius: 10px;
    transition: all .1s linear;
}

.add::before,
.add::after {
    content: '';
    width: 70%;
    height: 10%;
    border-radius: 59px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add::after {
    height: 70%;
    width: 10%;
}

.add:hover {
    background: #9BBEC8;
}

.title1 {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.title-post {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
/*===========================================================================================================*\
#navbar
\*===========================================================================================================*/
.navbar {
    padding: 5px;
    font-weight: 600;
    text-transform: uppercase;
    background: #002F34;
    margin-bottom: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__navigate {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logo {
    font-size: 20px;
    line-height: 20px;
    background: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 700;
    text-transform: none;
    color: #002F34;
    transition: all .2s linear;
}

.logo:hover {
    -webkit-text-stroke: 1px #002F34;
    text-stroke: 1px #002F34;
    color: transparent;
}

.logo__link.active .logo {
    -webkit-text-stroke: 1px #002F34;
    text-stroke: 1px #002F34;
    color: transparent;
}
/*==================================================================*/
/*navbar-animation*/
/*==================================================================*/
.navbar__navigate a:not(:first-child),
.navbar__auth a {
    position: relative;
    overflow: hidden;
    padding: 2px 0;
}

.navbar__navigate a:not(:first-child)::before,
.navbar__auth a::before {
    content: '';
    width: 100%;
    height: 1.2px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(101%) !important;
    transition: all .2s linear;
}

.navbar__navigate a:not(:first-child)::after,
.navbar__auth a::after {
    content: '';
    width: 100%;
    height: 1.2px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-101%) !important;
    transition: all .2s linear;
}

.navbar__auth a::after {
    bottom: 0px;
}

.navbar__navigate a:not(:first-child):hover::before,
.navbar__auth a:hover::before,
.navbar__navigate a:not(:first-child):hover::after,
.navbar__auth a:hover::after {
    transform: translateX(0%) !important;
}

.navbar__navigate a.active::before,
.navbar__auth a.active::before,
.navbar__navigate a.active::after,
.navbar__auth a.active::after {
    transform: translateX(0%) !important;
}
/*==================================================================*/
/*navbar-animation*/
/*==================================================================*/
.navbar__auth {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar__auth a {
    max-height: 22px;
}

.navbar__auth svg {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
}
/*===========================================================================================================*\
#post-item
\*===========================================================================================================*/
.post-item {
    width: 100%;
}

.post-item a {
    color: inherit;
    text-decoration: none;
}

.post-item__img img {
    width: 100%;
}

.post-item__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-item__info-username {
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.post-item__info-username .userpage__info-avatar {
    width: 30px;
    height: 30px;
}

.post-item__info-username .userpage__info-avatar svg {
    width: 70%;
    height: 70%;
}

.post-item__text textarea {
    width: 100%;
}

.post-item__text.cropped textarea {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    max-height: 64px;
    position: relative;
    z-index: -1;
}

.post-item__counter {
    display: flex;
    gap: 10px;
}

.post-item__counter-btn {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 16px;
}

.post-item__counter-btn svg {
    font-size: 20px;
    fill: #002F34;
}
/*===========================================================================================================*\
#comment-item
\*===========================================================================================================*/
.comment.hover {
    transition: all .2s linear;
}
.comment.hover:hover {
    padding-left: 5px;
}

.comment__item {
    display: flex;
    flex-direction: column;
}

.comment__item-info {
    display: flex;
    justify-content: space-between;
}

.comment__item-info a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comment__item-info--wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comment__item-info--avatar {
    width: 30px;
    height: 30px;
    background: #427D9D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment__item-info--avatar svg{
    width: 70%;
    height: 70%;
    fill: #fff;
}

.comment__item-info--username {
    font-weight: 700;
}

.comment__item-text {
    padding-left: 35px;
}

.comment__item-text textarea {
    position: relative;
    z-index: -1;
    width: 100%;
}

.comment-action__wrapper {
    display: flex;
     margin-bottom: 5px;
}

.comment-action__wrapper div {
    display: flex;
    gap: 5px;
}

.comment-edit__textarea {
    border-top: 1px solid #002F34;
    border-bottom: 1px solid #002F34;
    z-index: 0 !important;
    animation: changeBorderColor 2s infinite;
}

@keyframes changeBorderColor {
    0%, 100% {
         border-color: transparent;
    }
    50% {
         border-color: #002F34;
    }
}
/*===========================================================================================================*\
#pages
\*===========================================================================================================*/
/*=================================================*\
#login/register
\*=================================================*/
.form {
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
}

.form__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form__item input{
    padding: 10px;
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #002F34;
}
/*=================================================*\
#userpage/userpage-edit
\*=================================================*/
.userpage__info {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.userpage__info-avatar {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: #427D9D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userpage__info-avatar svg {
    fill: #fff;
    font-size: 100px;
}

.userpage__info-description {
    padding: 20px;
    width: calc(100% - 150px + 20px);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.userpage__info-username {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}

.userpage__info-username svg {
    font-size: 26px;
    fill: #002F34;
    transition: all .3s linear;
}

.userpage__info-username svg:hover {
    transform: rotate(90deg);
}

.userpage__info-tags {
    display: flex;
    gap: 5px;
}

.userpage__info-tags span {
    color: #fff;
    padding: 3px 10px;
    border-radius: 50px;
    background: #427D9D;
}

.userpage__info-text textarea {
    cursor: default;
    width: 100%;
    height: auto;
    border: none;
    resize: none;
    outline: none;
    text-decoration: none;
    caret-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400; 
    overflow: hidden;
}

.userpage-container {
    display: flex;
    gap: 20px;
}

.userpage__posts {
    width: 60%;
}

.userpage__posts-container {
    padding-right: 5px;
    border-right: 2px solid #000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userpage__posts-header {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.userpage__questions {
    width: 40%;
}

.userpage__questions h3 {
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
/*=======================================================*/
.userpage-edit {
    display: flex;
    gap: 20px;
}
.userpage-edit__items,
.useredit-form {
    display: flex;
    flex-direction: column;
}

.useredit-form {
    gap: 10px;
}

.useredit-form__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.useredit-form__item.text {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
}

.useredit-form__item select{
    background: #DDF2FD;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #427D9D;
}

.useredit-form__item textarea {
    min-height: 100px;
    border: 2px solid #427D9D;
    border-radius: 10px;
    resize: none;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
}
/*=================================================*\
#AddPostPage/EditPostPage/PostPage
\*=================================================*/
.add-post {
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    background: #DDF2FD;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin: 0 auto 50px;
}

.add-post .btns-wrapper {
    justify-content: center !important;
}

.add-post__item-img {
    width: 100%;
}

.add-post__item input,
.add-post__item textarea {
    padding: 5px 10px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #9BBEC8;
    background: #fff;
}

.add-post__item textarea {
    min-height: 100px;
    overflow: hidden;
}
/*=======================================================*/
.post-page {
    display: flex;
    gap: 10px;
}

.post-page .post-item {
    width: 60%;
}

.post-item__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.post-item__form {
    border-top: 1px solid #002F34;
    display: flex;
    gap: 10px;
    min-height: 40px;
    position: relative;
}

.post-item__form-textarea {
    width: calc(100% - 40px);
}

.post-item__form-textarea textarea {
    padding: 5px;
    width: 100%;
    min-height: 40px;
}

.post-item__form-btn {
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.post-item__form-btn svg {
    width: 90%;
    height: 90%;
    fill: #002F34;
    cursor: pointer;
    transition: all .1s linear;
}

.post-item__form-btn svg:hover{
    fill: #427D9D;
}

.popular-posts {
    padding-left: 10px;
    width: 40%;
    min-height: 100vh;
    border-left: 1px solid #002F34;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popular-posts .post-item {
    width: 100%;
}
/*=================================================*\
#Blog-page
\*=================================================*/
.blog-page {
    display: flex;
    gap: 20px;
}

.blog-page__container {
    width: 60%;
}

.blog-page__sort select {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    padding: 5px;
    border: 2px solid #427D9D;
    margin-bottom: 20px;
}

.blog-page__posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-page__comments {
    width: 40%;
}

.blog-page__comments h3 {
    height: 33px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}